{% extends "layout.html" %}

{% block content %}
<div name = "back">
	<div class="container">
		<div class="top">
			<h1 id="title" class="hidden"><span id="logo"> <span></span></span></h1>
		</div>
		<div class="login-box animated fadeInUp">
			<div class="box-header">
				<h1 >LOGIN</h1>
				
			</div><br>
			<img src="static/images/belltower.jpg" alt="belltower" class = "center">
			<br>
			<p1 class="center"> This is the login page for the Administrator. <br> A student does not need to login to submit a review </p1> <br> <br>
			<form method="post" action="/login">
    <p>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" size="20" /></p>
    <p>
    <label for="password">Password:</label>
    <input type="password" id="password" name="pw" size="20" /></p>

    <p><input type="submit" value="login" name="submit" /></p>
  </form>
			<!--<button onclick=href="adminPage.html" type="button">
     		www.example.com</button> <br>
			<button type="submit">Sign In</button> -->
			<br/>
			<a href="#"><p class="small">Forgot your password?</p></a>
		</div>
	</div>
</div>
{% endblock %}